
/* Começo do carrossel */
#slide {
    width: 30vw;
    overflow: hidden;
    margin: 10px auto;
    height: 40vh;
    box-shadow: 0 0 8px #000;
    position: relative; 
}

#slide img {
    position: absolute;
    z-index: 1;
    display: none;
    left: 0;
    width: 100%;
}
/* Fim do carrossel */